.header{
    height: 40px;
    width: 100%;
    overflow:hidden;
    display: inline-block;
    text-align: center;
    cursor: move;
}

.icon {
    vertical-align: middle;
    text-align: center;
    color: black;
}

.imageHeader{
    min-width:100%;
}


