@import url('../../node_modules/font-awesome/css/font-awesome.min.css');

.fa-github {color: white;}

.item-cell {
  box-sizing: border-box;
  border-bottom: 1px solid;
  display: flex;
}

.Box {
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
}

.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}

.mr-3 {
    margin-right: 16px !important;
}

.border-bottom {
    border-bottom: 1px #e1e4e8 solid !important;
}

.py-3 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.width-full {
    width: 100% !important;
}

.mr-1 {
    margin-right: 4px !important;
    vertical-align: bottom;
}

.repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #3572A5;
}

.text-bold {
    font-weight: 600 !important;
}

.f6 {
    font-size: 12px !important;
}

.text-gray {
    color: #586069 !important;
}

.text-gray-light {
    color: #6a737d !important;
}

.mt-2 {
    margin-top: 8px !important;
}

.p-3 {
    padding: 16px !important;
}

.muted-link {
    color: #586069 !important;
}

a {
    color: #0366d6;
    text-decoration: none;
}

.link-gray-dark {
    color: #24292e !important;
}

.widget-container {
  display: flex;
  flex-flow: row;
  height: 40%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
}

.widget {
  flex: 0 0 auto;
  width: 40%;
  padding: 1%;
  overflow: auto;
  resize: both;
  height: inherit;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 2px rgba(0,0,0,.04);
}

.feed-content {
    margin-top: 50px;
}

#github-widget {
  position: absolute;
  background-color: rgb(255, 255, 255);
}

#github-widget::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#github-widget::-webkit-scrollbar-thumb {
  background-color: #8c8888;
  border-radius: 20%;
}

#github-widget::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#github-widget-header {
    cursor: move;
    z-index: 10;
    color: #fff;
}


.parent{
    display:flex;
    flex-direction: column;
}

/* 
  .ms-ListBasicExample-itemCell:hover {
    background: #EEE;
  }

  .ms-ListBasicExample-itemImage {
    flex-shrink: 0;
  }

  .ms-ListBasicExample-itemContent {
    overflow: hidden;
    flex-grow: 1;
  }

  .ms-ListBasicExample-itemName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ms-ListBasicExample-itemIndex {
    font-size: $ms-font-size-s;
    color: $ms-color-neutralTertiary;
    margin-bottom: 10px;
  }

  .ms-ListBasicExample-chevron {
    align-self: center;
    color: $ms-color-neutralTertiary;
    font-size: $ms-font-size-l;
    flex-shrink: 0;
  } */