@import url('../../node_modules/font-awesome/css/font-awesome.min.css');

.parent{
    display:flex;
    flex-direction: column;
}

.hackerHeadline{
    font-size: 11pt;
    line-height: 14pt;
    padding-left: 8px;
    padding-right: 8px;
    font-family: Verdana, Geneva, sans-serif;
}

.fa-hacker-news{
    color: black;
}

a:visited {
    color: #828282;
    text-decoration: none;
}

a:link {
    color: #000000;
    text-decoration: none;
}

#hackernews-widget {
  position: absolute;
  background-color: rgb(255, 255, 255);
}

#hackernews-widget::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#hackernews-widget::-webkit-scrollbar-thumb {
  background-color: #8c8888;
  border-radius: 20%;
}

#hackernews-widget::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}


#hackernews-widget-header {
    padding: 10px;
    cursor: move;
    z-index: 10;
    color: #fff;
}